<div *ngIf="storedGroupHistory.length > 0" style="max-width: 600px; margin: 0 auto;">
  <h4 class="mt-4 mb-3 text-center" style="font-weight: 600; padding-bottom: 8px;">
    Historique des groupes générés pour : <span style="color: #5a4031;">{{ listName }}</span>
  </h4>

  <div *ngFor="let generation of storedGroupHistory; let genIndex = index" class="mb-4 p-3" style="
         background-color: #dcb49e; 
         border: 1px solid #7a5a49; 
         border-radius: 10px;
         color: #3a2a20;
       ">
    <h5 class="mb-3" style="font-weight: 700;">TIRAGE #{{ genIndex + 1 }}</h5>

    <div *ngFor="let group of generation" class="mb-3">
      <strong style="font-weight: 600; border-bottom: 2px solid #7a5a49">{{ group.name }}</strong>
      <ul class="mb-2" style="padding-left: 20px;">
        <li *ngFor="let person of group.persons" style="margin-bottom: 6px; font-weight: 600;">
          {{ person.lastName }} ({{ person.age }} ans)
          <span *ngIf="person.isFormerDwwm" style="font-weight: 600;"> - Ancien DWWM</span>
        </li>
      </ul>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-danger-custom mt-3" (click)="deleteTirage(genIndex)">
        Supprimer ce tirage
      </button>
    </div>
  </div>