<div *ngIf="storedGroupHistory.length > 0" class="history-container mx-auto">
  <h4 class="history-title text-center">Historique des groupes générés</h4>

  <div *ngFor="let generation of storedGroupHistory; let genIndex = index" class="history-box">
    <h5 class="history-subtitle">TIRAGE #{{ genIndex + 1 }}</h5>

    <div *ngFor="let group of generation" class="history-group">
      <strong class="group-name">{{ group.name }}</strong>
      <ul class="group-list">
        <li *ngFor="let person of group.persons" class="group-person">
          {{ person.lastName }} ({{ person.age }} ans)
          <span *ngIf="person.isFormerDwwm" class="former-dwwm"> - Ancien DWWM</span>
        </li>
      </ul>
    </div>
    
  </div>
  
</div>

        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-danger-custom" (click)="deleteSavedGroups(list.id)">
            Supprimer les groupes
          </button>
        </div>