<h2>Composant de génération de groupes</h2>

<div>
  <label>
    Nombre de groupes :
    <input type="number" [(ngModel)]="numberOfGroups" min="1" />
  </label>
</div>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="criteria.mixerAncienDwwm" />
    Mixer anciens DWWM
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="criteria.mixerAge" />
    Mixer âge
  </label>
</div>

<button (click)="generate()">Générer les groupes</button>

<div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

<div *ngIf="groups">
  <div *ngFor="let group of groups">
    <h3>{{ group.name }}</h3>
    <ul>
      <li *ngFor="let person of group.persons">{{ person.lastName }} ({{ person.age }} ans)</li>
    </ul>
  </div>
</div>
