<body class="d-flex flex-column min-vh-100 m-0 p-0">
    <nav class="navbar navbar-expand-lg navbar-custom px-4 p-4">
        <div class="container-fluid d-flex justify-content-between align-items-center m-5">
            <button class="btn btn-primary-custom" (click)="goToLogin()">Connexion</button>
            <a class="btn btn-primary-custom" routerLink="/register">Inscription</a>
        </div>
    </nav>

    <div class="content-area d-flex flex-column justify-content-center align-items-center text-center"
        style="flex-grow: 1; background-color: #d3a781;">
        <h1 class="mb-3">GROUP MAKER</h1>

        <div class="text-box p-4 mx-auto mt-4" style="max-width: 700px; width: 90%; ">
            <p class="fs-5 text-muted text-uppercase"
                style="border-bottom: 1.5px solid #7a5a49; display: inline-block;">
                GÉNÉREZ DES GROUPES ÉQUILIBRÉS SANS PRISE DE TÊTE</p>
            <p class="fs-5 text-muted">
                Notre application vous aide à générer automatiquement des groupes
                en tenant compte de critères variés,
                tout en évitant les doublons.
            </p>
        </div>

    </div>
</body>